.Main {
  text-align: center;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .Main {
    margin: 0;
    padding: 0;
  }

  html {
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: none;
  }
}